.App {
  text-align: center;
  background-color: #282c34;
}
 body {
  font-size: 72px;
  /* background: -webkit-linear-gradient(#eee, rgb(56, 78, 112)); */
background: url("./image/bg-pass6.jfif");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}


.App-link {
  color: #61dafb;
}
