.App {
  text-align: center;
  background-color: #282c34;
}
 body {
background: url("./image/bg-pass6.jfif");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}


.App-link {
  color: #61dafb;
}
