.App {
  text-align: center;
  background-color: #282c34;
}
 body {
background: url("./image/bg-6.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
/* body{
  background: #282c34;;
background: linear-gradient(180deg, rgb(112, 104, 231) 0%, rgb(133, 133, 189) 4%, rgb(132, 226, 245) 100%);
} */


.App-link {
  color: #61dafb;
}
